@use '../abstract/mixins' as m;
@use '../abstract/breakpoint' as bp;

.btn {
    padding: var(--spacing-1) var(--spacing-2);
    border: var(--border-2) solid var(--cl-border);
    border-radius: var(--border-radius-1);
    background-color: var(--cl-bg-tertiary);

    .bi {
        color: var(--cl-btn);
        font-size: var(--fs-3xl);
    }
}