@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.btn {
    padding: v.$size-2 v.$size-3;
    background-color: var(--cl-btn-bg);

    &--icon {
        border: v.$border-2 solid var(--cl-btn);
        border-radius: v.$size-2;
        color: var(--cl-btn);
        box-shadow: var(--cl-shadow);
        transition: box-shadow 0.1s ease-in, transform 0.1s ease-in, color 0.1s ease-in;
        
        
        &:hover {
            transform: scale(1.1);
            box-shadow: var(--cl-shadow-hover);
            text-shadow: var(--cl-shadow-text-hover);
            color: var(--cl-btn-hover);
            border-color: var(--cl-btn-hover);
        }
        
        &:focus {
            transform: scale(1.1);
            box-shadow: var(--cl-shadow-focus);
            text-shadow: var(--cl-shadow-text);
            color: var(--cl-btn-focus);
            border-color: var(--cl-btn-focus);
            outline: unset;
        }

        &:active {
            transform: scale(0.95);
            box-shadow: var(--cl-shadow-active);
            text-shadow: var(--cl-shadow-active);
            color: var(--cl-btn-active);
            border-color: var(--cl-btn-active);
        }
    }
}