@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/breakpoint" as bp;

.btn {
    padding: var(--spacing-1) var(--spacing-3);
    color: var(--cl-secondary);
    background: none;

    &--icon {
        font-size: var(--fs-xl);
    }

    &--search-custom {
        .btn__text {
            display: none;
        }

        @include bp.min-width(lg) {
            border-radius: var(--border-radius-2);
            border-bottom: 1px solid var(--cl-secondary);
            padding: var(--spacing-1);
            box-shadow: var(--cl-shadow);

            i {
                border: var(--border-1) solid var(--cl-secondary);
                padding: var(--spacing-1) var(--spacing-1);
                border-radius: var(--border-radius-2);
                font-size: var(--fs-lg);
            }
            .btn__text {
                display: block;
                border: var(--border-1) solid var(--cl-secondary);
                padding: var(--spacing-1);
                margin-right: var(--spacing-2);
                border-radius: var(--border-radius-2);
                font-size: var(--fs-lg);
            }
        }
    }
}