@use '../abstract/mixins' as m;
@use '../abstract/breakpoint' as bp;

body {
    // USING UTILITY : .max-height-100dvb .max-width-100vw 
    overflow: hidden;
    background-color: var(--cl-bg-body);
    color: var(--cl-text);
}

// WRAPPER
.layout {
    .main-page {
        // USING UTILITY : | .max-height-100dvb | .max-width-100vw | 
        overflow-y: auto;
        overflow-x: hidden;
    }

    // SIDEBAR
    .sidebar {
        // USING UTILITY : | .max-height-100dvb |
        max-width: 320px;
        min-width: 320px;
        position: fixed;
        top: 0;
        transition: transform 0.5s cubic-bezier(1, 0, 0, 1), min-width 0.5s, max-width 0.5s;
        overflow-y: auto;
        overflow-x: hidden;

        &--left {
            left: 0;
            transform: translateX(-100%);
        }

        &--right {
            right: 0;
            transform: translateX(100%);
        }

        &--left,
        &--right {
            &.active {
                transform: translateX(0%);
            }
        }
    }

    // MD 2 COLUMN
    @include bp.min-width(md) {
        @include m.flex-justify(stretch, start);

        .main-page {
            min-width: 70%;
            width: 100%;
        }

        .sidebar {
            &--left {
                position: sticky;
                min-width: 30%;
                max-width: 30%;
                transform: translateX(0%);

                &.active {
                    min-width: 0;
                    max-width: 0;
                    transform: translateX(-100%);
                }
            }

            &--right {
                min-width: 250px;
                max-width: 250px;
            }
        }
    }

    // LG 3 COLUMN
    @include bp.min-width(lg) {
        .main-page {
            min-width: 60%;
        }

        .sidebar {
            min-width: 20%;
            max-width: 20%;
            transform: translateX(0%);

            &--right {
                position: sticky;

                &.active {
                    min-width: 0;
                    max-width: 0;
                    transform: translateX(100%);
                }
            }
        }
    }
}