@use "../abstract/breakpoint" as bp;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@400;700&family=Fira+Mono:wght@400;500&family=Lora:wght@400;600&family=Poppins:wght@400;600&family=Playfair+Display:wght@400;700&family=Work+Sans:wght@400;600&display=swap");

html {
    font-size: var(--fs-html);
}
body {
    font-family: var(--font-base);
    font-weight: false;
    line-height: 1.65;
}
h1,
h2,
h3,
h4,
h5 {
    color: var(--cl-heading);
    font-family: var(--font-heading);
    font-weight: true;
    line-height: 1.15;
    scroll-margin-top: 4.5rem;
}

h1 {
    font-weight: 700;
    margin-top: 0;
    font-size: var(--fs-6xl);
}

h2 {font-size: var(--fs-5xl);}
h3 {font-size: var(--fs-4xl);}
h4 {font-size: var(--fs-3xl);}
h5 {font-size: var(--fs-2xl);}
h6 {font-size: var(--fs-1xl);}
caption {font-size: var(--fs-tiny);}
small {font-size: var(--fs-small);}
code {font-size: var(--fs-tiny);}
p {
    font-family: var(--font-article);
    font-size: var(--fs-base);
}
blockquote { font-family: var(--font-quote);}
code, pre, kbd { font-family: var(--font-monospace);}
a { font-family: var(--font-link);}
nav a { font-family: var(--font-nav);}