@use '../abstract/mixins' as m;
@use '../abstract/breakpoint' as bp;

/* USING UTILITY */
// FLEX JUSTIFY BETWEEN
.justify-content-between {
    @include m.flex-justify(space-between, center);
    gap: 8px;
}

// FLEX JUSTIFY CENTER
.justify-content-center {
    @include m.flex-justify(center, center);
}

// MAX HEIGHT
.min-max-height-100dvb {
    max-height: 100dvb;
    min-height: 100dvb;
}

// MAX WIDTH
.max-width-100vw {
    max-width: 100vw;
}

// POSITION STICKY
.position-sticky {
    position: sticky;
    top: 0;
}

// UL LI A DEFAULT FOR NAV
.nav {
    &__list {
        padding-left: var(--spacing-1);
        list-style: none;
    }
    &__item {
        margin: 0;
        padding: var(--spacing-1);
    }

    &__link {
        display: block;
        text-decoration: none;
        color: var(--cl-link);
        transition: color 0.5s ease-in-out, outline 0.5s ease-in-out;

        &:hover {
            color: var(--cl-link-hover);
        }

        &:active {
            color: var(--cl-link-active);
        }

        &:focus-visible {
            color: var(--cl-link-focus);
            outline: var(--border-2) solid var(--cl-link-focus);
            border-radius: var(--border-radius-1);
            outline-offset: var(--border-2);
        }
    }
}