<!DOCTYPE html>
<html
lang="{{- or .Site.Language.LanguageCode .Site.Language.Lang -}}"
data-theme="dark">

{{- partial "head.html" . -}}
<body class="layout">
  <aside class="sidebar sidebar--left">
    {{- partial "left-side.html" . -}}
  </aside>
  <div class="main-page">
    <header class="header">
      {{- partial "header.html" . -}}
    </header>
    <main class="main">
      {{- block "main" . -}}{{- end -}}
    </main>
    <footer class="footer">
      {{- partial "footer.html" . -}}
    </footer>
    </div>
  </div>
  <aside class="sidebar sidebar--right">
    {{- partial "right-side.html" . -}}
  </aside>
  {{- partial "script.html" . -}}
</body>
</html>