<!DOCTYPE html>
<html
lang="{{ or .Site.Language.LanguageCode .Site.Language.Lang }}"
data-theme="dark">

{{ partial "head.html" . }}
<body>
  <div class="wrapper">
    <header class="header flex-justify-between">
      {{- partial "header.html" . -}}
    </header>
    
    <div class="main-page">
      <aside class="main-page__left">
        {{- partial "left-side.html" . -}}
      </aside>
      
      <div class="main-page__center">
        <main>
          {{- block "main" . -}}{{ end }}
        </main>
        <footer>
          {{- partial "footer.html" . -}}
        </footer>
      </div>
      
      <aside class="main-page__right">
        {{- partial "right-side.html" . -}}
      </aside>
    </div>
  </div>
  {{ partial "script.html" . }}
</body>
</html>