{{- define "main" -}}
<header class="main-header">
  <h1 class="content__title">{{- .Title -}}</h1>
</header>

<article class="main-article">
  {{- .Content | safeHTML -}}
</article>

<nav>
  <ul class="list">
  {{- range .Data.Terms.Alphabetical -}}
    <li class="list__item">
      <a class="list__link" href="{{- .Page.RelPermalink -}}">
        <span class="list__name">{{- .Page.LinkTitle -}}</span>
        <span class="list__count">({{- .Count -}})</span>
      </a>
    </li>
  {{- end -}}
  </ul>
</nav>
{{- end -}}