@mixin flex-justify($justify: space-between, $align-items: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align-items;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin min-width-height($min-width, $min-height) {
    min-width: $min-width;
    min-height: $min-height;
}

@mixin max-width-height($max-width, $max-height) {
    max-width: $max-width;
    max-height: $max-height;
}

@mixin ellipsis($width){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: $width;
}

@mixin align-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin shadow {
    box-shadow: 
        0px 8px 12px -4px var(--cl-shadow),
        0px 4px 8px 0px var(--cl-shadow),
        inset 0px 2px 15px var(--cl-shadow);
}

@mixin text-shadow {
    text-shadow:
        0px 1px 1px var(--cl-shadow),  
        1px 1px 3px var(--cl-shadow),
        2px 2px 5px var(--cl-shadow);
}