<header class="header flex-justify">
  <div class="header__left flex-justify">
    <button class="btn btn--icon btn--open" id="leftOpen">
      <i class="bi-layout-text-window-reverse"></i>
    </button>

    <div class="header__site-title">{{ .Site.Title }}</div>

    <nav class="breadcrumb">
      <ul class="breadcrumb__list flex-start">
        {{ range .Ancestors.Reverse }}
          <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
        <li class="breadcrumb__item">
          <a class="breadcrumb__link breadcrumb__link--active" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="header__right flex-justify">
    <button class="btn btn--icon btn--search-custom lg-flex-justify">
      <span class="btn__text">Pencarian..........</span>
      <i class="bi-search"></i>
    </button>

    <button class="btn btn--icon" id="switchTheme">
      <i class="bi-moon"></i>
    </button>

    <button class="btn btn--icon" id="rightOpen">
      <i class="bi-book"></i>
    </button>
  </div>
</header>