<div class="flex-justify-between">
  <button class="btn btn--icon btn--open" id="leftOpen">
    <i class="bi bi-list"></i>
  </button>
  
  <a class="site-title" href="">{{ .Site.Title }}</a>
  
  <nav class="nav" aria-label="breadcrumbs">
    <ul class="nav__list flex-justify-center">
      {{- range .Ancestors.Reverse }}
        <li class="nav__item">
          <a class="nav__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{- end }}
      <li class="nav__item">
        <a class="nav__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    </ul>
  </nav>
</div>

<div class="flex-justify-between">
  <button class="btn btn--icon">
    <i class="bi bi-search"></i>
  </button>
  
  <button class="btn btn--icon" id="switchTheme">
    <i class="bi bi-moon"></i>
  </button>
  
  <button class="btn btn--icon" id="rightOpen">
    <i class="bi bi-book"
  </button>
</div>