<header class="header">
  <div class="header__left">
    <button class="btn btn--icon btn--open">
      <i class="bi-layout-text-window-reverse"></i>
    </button>

    <nav class="breadcrumb">
      <ul class="breadcrumb__list">
        {{ range .Ancestors.Reverse }}
          <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
        <li class="breadcrumb__item">
          <a class="breadcrumb__link breadcrumb__link--active" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="header__right">
    <button class="btn btn--icon btn--search-custom">
      <i class="bi-search"></i>
      <span>Cari.........</span>
    </button>

    <button class="btn btn--icon">
      <i class="bi-moon"></i>
    </button>

    <button class="btn btn--icon">
      <i class="bi-book"></i>
    </button>
  </div>
</header>