<aside class="sidebar">
  <div class="sidebar__top flex-justify">
    
    <a class="sidebar__logo flex-justify" href="">
      <img class="sidebar__logo-img" src="https://placehold.co/80" alt="">
      <div class="sidebar__logo-title">{{ .Site.Title }}</div>
    </a>

    <button class="sidebar__close-btn btn btn--icon" id="leftClose">
      <i class="bi-x"></i>
    </button>
  </div>

  <div class="sidebar__bottom">
    <div class="flex-justify">
      <select class="tab-selector" data-tabs-group="group1">
        <option value="filesTab">Files</option>
        <option value="searchTab">Search</option>
        <option value="categoriesTab">Categories</option>
        <option value="tagsTab">Tags</option>
        <option value="groupsTab">Groups</option>
        <option value="pinnedTab">Pinned</option>
      </select>

      <div class="flex-justify">
        <button class="sidebar__theme-btn btn btn--icon" id="switchTheme">
          <i class="bi-moon"></i>
        </button>
        <button class="sidebar__collapse-btn btn btn--icon" id="toggleCollapseAll">
          <i class="bi-folder2-open"></i>
        </button>
      </div>
    </div>

    <div class="tab-area">
      <div class="tab-area__content tab-area__content--active" data-tab="filesTab" data-tabs-group="group1">
        <nav class="nav">
          <ul class="nav__list">
            {{ template "collapsible_nav" .Site.Home }}
          </ul>
        </nav>
      </div>
      
      <div class="tab-area__content" data-tab="searchTab" data-tabs-group="group1">
        {{ partial "elements/search-bar.html" . }}
      </div>
      
      <div class="tab-area__content" data-tab="categoriesTab" data-tabs-group="group1">
        {{ template "categories_list" . }}
      </div>
      <div class="tab-area__content" data-tab="tagsTab" data-tabs-group="group1">
        {{ template "tags_list" . }}
      </div>
      <div class="tab-area__content" data-tab="groupsTab" data-tabs-group="group1">
        {{ template "groups_list" . }}
      </div>
      <div class="tab-area__content" data-tab="pinnedTab" data-tabs-group="group1">
        {{ template "pinned" . }}
      </div>
    </div>
  </div>
</aside>