@use '../abstract/breakpoints' as bp;
@use '../abstract/mixins' as m;
@use '../abstract/placeholders';

main {
    padding: var(--size-2);
    margin: var(--size-2);
}

.main-pagination {
    @extend %full-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-4);
    background: var(--bg-alt);
    border-radius: var(--size-3);

    .pagination {
        display: flex;
        list-style: none;
        gap: var(--size-2);
        padding: 0;
        margin: 0;
    }
    
    .page-item {
        &.disabled .page-link {
            color: var(--cl-muted);
            cursor: not-allowed;
        }
    
        &.active .page-link {
            font-weight: bold;
            background: var(--link-active);
            color: var(--cl-highlight);
            border-radius: var(--size-2);
        }
    }
    
    .page-link {
        text-decoration: none;
        font-size: var(--fs-base);
        font-family: var(--link);
        color: var(--link-default);
        padding: var(--size-2) var(--size-3);
        border-radius: var(--size-2);
        transition: background 0.3s, color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &:hover {
            background: var(--link-hover);
            color: var(--cl-highlight);
        }
    }
}