@use '../abstract/mixins' as m;
@use '../abstract/breakpoint' as bp;

.sidebar {
    &-header {
        // USING UTILITY : | .position-sticky : top-0
        padding: var(--spacing-2);
        background-color: var(--cl-bg-secondary);
        border-bottom: var(--border-3) solid var(--cl-border);
    }
}

.logo {
    text-decoration: none;

    &__img {
        @include m.width-height(45px, 45px);
        border: var(--border-2) solid var(--cl-border);
        border-radius: var(--border-radius-1);
    }

    &__title {
        font-family: var(--font-title);
        font-size: var(--fs-7xl);
        color: var(--cl-primary);
    }
}

.nav {
    // TABS AREA
    &__list-tab {
        display: none;
    
        &--active {
            display: block;
        }
    }

    // COLLAPSE
    &__list--collapse {
        margin: 0;
        padding-left: var(--spacing-3);
        overflow: hidden;
        transition: opacity 0.3s cubic-bezier(1, 0, 0, 1);

        .nav__item {
            border-left: var(--border-1) solid var(--cl-border);
        }

        .nav__link {
            padding-left: var(--spacing-2);
        }
    }
    .collapsed {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.3s cubic-bezier(1, 0, 0, 1);
    }
}